/* HEADER */
.header{
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 80px;
    padding: 16px;
    
} 

