   
  .coment{
      max-inline-size: 1366px;
      padding-inline-end: 60px;
      padding-inline-start: 60px;
      padding-block-start: 90px;
      padding-block-end: 90px;
      margin: auto;
      margin-block-start: 150px;
      
      } 

    .coment__text{
        text-align: center;
        max-inline-size: 900px;
        margin: auto;
        padding-inline-start:60px;
        padding-inline-end: 60px;

    }

    .coment__text :nth-child(1){
        font: var(--headline6) ;
    }

    .coment__text :nth-child(2){
        font: var(--headline5);
        
    }
    .coment__text img{
        padding-block-start: 15px;
        width: 80px;
        height: 80px;
    }